.red {
    color: white;
    background-color: rgb(207, 89, 80);
}

.priceContainer {
    height: 100px;
    line-height: 100px;
    color: white;
    background-color: rgb(226, 112, 104);
    border-top: 1px solid white;
    text-align: center;
}