.blue {
    color: white;
    background-color: rgb(76, 123, 150);
}

.priceContainer {
    height: 100px;
    line-height: 100px;
    color: white;
    background-color: rgb(85, 155, 196);
    border-top: 1px solid white;
    text-align: center;
}