* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: 500px;
    max-width: fit-content;
    min-height: 600px;
    max-height: fit-content;
    padding: 20px 30px;

    border: 1px solid gray;
}

.comments_container {
    width: 100%;
    max-height: 600px;
}

.textarea {
    width: 100%;

    &_container {
        width: 100%;
    }
}

.button {
    height: 30px;
}

.message {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.red {

    border-bottom: 1px solid gray;
}

.noRed {
    background-color: white;
}